.home-panel {
	width: 85vw;
	height: 85vh;

	margin: 6.5vh auto;

	background: #ffffff;
	border-radius: 20px;
	box-shadow: 0 0.75vh 2.5vh rgba(0,0,0,0.20);

	display: flex;
	align-items: center;
	justify-content: center;

	font-family: "Kufam", sans-serif;   
}


.home-panel button {
  	background: white;

	border-radius: 12px;
	width: 15vw;
	height: 10vh;

	text-align: center;
	font-family: "Kufam", sans-serif;
	font-size: 2vw;
	color:#152d85;

	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
	transition: transform 0.15s ease
}

.home-panel button:hover {
  	background-color: #0056b3;
    color:rgb(255, 255, 255);
    transform: scale(1.05);
}